body
{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
    background-color:grey;
}
#outerDiv {
    padding:15px;
   margin-left: -4px;
    background-color: black;
    margin-top: 80px;
    position: absolute;
    color: white;
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:14px;
}
